DirectoryIndex disabled

RewriteEngine On

# Pastikan semua request diteruskan ke Node.js app via Passenger
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [L,QSA]

# Force semua request termasuk /api/* ke Passenger
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
